@charset    "utf-8";

body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-image: url(../imagens/cev-landscape.jpg);
    background-size: contain;
    background-position: left bottom;
}