@charset "utf-8";

body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-image: url(../imagens/cev-portrait.jpg);
    background-size: contain;
    background-position: center bottom;
}
