@metacharset charset="UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    text-align: center;
    background-repeat: no-repeat;
}
h1{
    padding: 20px;
    text-shadow: 3px 2px 3px rgba(0,0,0,0.3);
}