@charset "utf-8";
body{
    font: 16px Arial, sans-serif;
    background-color: #737272;
}
header{
    background-color: white;
    padding: 2px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
   
}
nav{
    background-color: #b3b3b3;
    padding: 5px;
    margin: 0px 5px 10px 0px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.485);
}
nav > a{
    font-size: 18px;
    color: rgb(51, 49, 49);
    text-decoration: none;
    margin: 30px;
    padding: 5px;
    
}

a:hover{
    color: black;
    background-color: white;
    padding: 5px;
    
}
main{
    background-color: rgb(206, 206, 206);
    padding: 5px 20px 20px 20px;
    border-radius: 10px 0px;
    margin: 10px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.473);

}
article > h2{
    background-color: white;
    color: #333333;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
}
footer{
    background-color: white;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
}
p{
    margin: 0px;
}