@charset "UTF-8";

/* Typical devices brakpoints
--------------------------------
Celuar <576px
Tablet 576px-992px
Desktop 992px-1200px
Large desktop >1200px
*/



@media screen and (min-width: 576px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#cel{display: none;}
    img#tab{display: block;}
    img#pc{display: none;}
    img#print{display: none;}
    img#tv{display: none;}
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#cel{display: none;}
    img#tab{display: none;}
    img#pc{display: block;}
    img#print{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#cel{display: none;}
    img#tab{display: none;}
    img#pc{display: none;}
    img#print{display: none;}
    img#tv{display: block;}
}

