@charset "UTF-8";

/* Estilos para impressoras */

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-indent: 1em;
}
header{
    text-align: center;
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 1.8em;
    
}
menu{
    display: none;
}
article{
    text-align: justify;
    font-size: 1em;
    line-height: 1.2em;
    width: 100%;
}
p{
    margin-bottom: 1em;
}
h2{
    text-align: center;
    margin-bottom: 1em;
}
