@charset "UTF-8";

/* Estilos para telas */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


header{
    background-color: lightgrey;
    padding: 20px 0px 0px 0px;
}
h1{
    color: rgb(3, 3, 3);
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 20px 0px;
    background-color: rgb(58, 56, 56);
}
li{
    font-size: 18px;
    display: inline-block;
    margin: 5px;
    color: white;
    
}
article{
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
    width: 500px;

}