@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    padding: 60px;
}

header > h1{
    font-family: Passion One;
    font-size: 5.5em;
    color: white;
    text-align: center;
}

header > h2{
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

nav > a{
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

article{
    font-family: sriracha;
    font-size: 1.7em;
    padding-left: 40px;
}

.full > p{
    background-color: rgba(0, 0, 0, 0.288);
    max-width: 320px;
    padding: 10px;
    position: relative;
}
#img-01{
    padding: 40px;
    margin: 80px 0px 80px 0px;
    color: white;
    background-image: url(imagens/background001.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    width: 100vw;
    height: auto;
    background-attachment:cover;
    min-width: ;
}