@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: black;
    padding: 60px;
    max-width: 100%;
}

header > h1{
    font-family: Passion One;
    font-size: 5.5em;
    color: white;
    text-align: center;
}

header > h2{
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

nav > a{
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

section{
    font-family: sriracha;
    font-size: 1.8em;
    padding: 60px;
}
.fonte-branca{
    color: white;
    background-color: rgba(0, 0, 0, 0.422);
    position: absolute;
    top: %;
    padding: 15px;
    margin: 100px 0px;
    max-height: 100%;

}
section > picture > img{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: -60px;
    max-width: 100vw;
    max-height: 100vh;
}