@charset "utf-8";


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    
    width: 100vw;
}
.principal{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
    gap: 3px;
}

.item:nth-child(1){
    grid-area: 1 / 1 / 3 / 4;
    background-color: aquamarine;
}

.item:nth-child(2){
    grid-area: 3 / 1 / 4 / 4;
    background-color: blueviolet;
}

.item:nth-child(3){
    background-color: blue;
    grid-area: 4 / 1 / 15 / 3;

}

.item:nth-child(4){
    background-color: red;
    grid-area: 4 / 3 / 15 / 4;

}

.item:nth-child(5){
    grid-area: 15 / 1 / 16 / 4;

}

.item{
    text-align: center;
    align-content: center;
}