@meta charcet "utf-8";

*{
    margin: 0;
    padding: 0;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;

}
main{
    width: 800px;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgb(145, 145, 232), rgb(153, 153, 250));
    border-radius: 100px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}
ul{
    margin: 20px;
}
ol{
    margin: 20px;
}
h1{
    font-size: 48px;
    text-align: center;
}
h2{
    font-size: 36px;
    text-align: left;
}