@metacharset "utf-8";


:root {
    --cor3: #333;
    --cor1: #eeeeee;
    --cor2: darkgrey;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav#telas{
    display: none;
    list-style-type: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: var(--cor1);
    color: var(--cor3);
    width: 100vw;
    height: 100vh;
    
}

header{
    position: sticky;
    top: 0;
    background-color: var(--cor2);
    color: white;
    padding: 10px 0px 5px 0px;
    
}

div.linha{
    display: block;
    margin: 2px auto;
    border-radius: 2px;
    width: 30px;
    height: 4px;
    background-color: var(--cor3);
}
nav#cel{
    background-color: var(--cor1);
    box-shadow: 0px 0px 10px 1px var(--cor2);
    display: block;
    cursor: pointer;
    width: 356px;
    border-radius: 5px;
    border: 0px;
    margin: auto;
    padding: 2px 0;
}

nav#cel ul{
    position: absolute;
    transform: translate(0%, 2%);
    width: 356px;
    display: none;
    list-style-type: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0px 0px 10px 1px var(--cor2);
    box-sizing: border-box;
    background-color: var(--cor1);
    border-radius: 5px;
    
}


main{
    width: 356px;
    height: auto;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.495);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--cor2);
}

h1{
    font-size: 2.5em;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}
h2{
    font-size: 1.5em;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

article > p{
    margin: 15px;
    text-align: justify;
    text-indent: 10px;
}

a{
    text-decoration: none;
    color: var(--cor3);
    padding: 10px 0;
    border-radius: 5px;
}

nav#cel:hover{
   ul, a{display: block;}
}

a:hover{
    box-shadow: 2px 2px 6px #00000083;
    translate: 6px 6px;
    transition: 250ms;
    background: var(--cor2);
    color: white;
    text-shadow: 2px 2px 4px #00000061;
    
}

footer{
    text-align: center;
    margin: 10px 0;
    font-size: 0.9em;
    color: var(--cor3);
}


