@metacharset "utf-8";


:root {
    --cor3: #333;
    --cor1: #eeeeee;
    --cor2: darkgrey;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: var(--cor1);
    color: var(--cor3);
    width: 100vw;
    height: 100vh;
    
}

header{
    background-color: var(--cor2);
    color: white;
    padding: 10px 0;
}

div.linha{
    display: block;
    margin: 2px auto;
    border-radius: 2px;
    width: 30px;
    height: 4px;
    background-color: var(--cor3);
}

button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    width: 100vw;
    border-radius: 5px;
    border: 0px;
    margin: 0px 5px 0px 5px;
}
h1, h2{
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

main{
    width: 356px;
    height: 100vh;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.495);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px var(--cor2);
}
article p{
    margin: 15px;
    text-align: justify;
    text-indent: 10px;
}

nav#telas{
    display: none;
}

nav#cel ul{
    display: none;
}

footer, a{
    background-color: var(--cor2);
    color: var(--cor1);
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    text-shadow: 2px 2px 4px #00000061;
}