@charset "UTF-8";

@media screen and (min-width: 520px){

header, nav{
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;

}

nav{
    
}

a{
    margin-right: 5px;

    align-self: flex-start;
}