@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

main{
    background-color: white;
    width: 80%;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.277);
    border-radius: 5px;
}

header{
    padding: 10px;
    background-color: rgb(239, 202, 179);

    display: flex;
    flex-flow: column nowrap;

}

h1, h2, hr{
    margin-bottom: 10px;
}

nav{
    display: flex;
    flex-flow: column nowrap;
    
}

a{
    text-decoration: none;
    background-color: #32302d;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    
}

a:hover{
    background-color: #8b847a;
}

p{
    text-indent: 10px;
    text-align: justify;
    margin-bottom: 10px;
    padding: 10px;
}

h2{
    padding: 10px 0px 0px 10px;
}