  body {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.4;
        margin: 20px;
        background-color: rgb(53, 124, 238);
    }

    h1 {
        color: #3333cc;
    }

    h2 {
        color: #cc3333;
    }